<fieldset data-indicate-guideline.conformance class="fieldset_radio">
  <legend><h4>{{ guideline.name }}</h4></legend>
  <p>{{ guideline.description}} <small style="margin-left: 1em;"><em>See also: {% for criterion in guideline.related_atag %}{{ criterion }} {% endfor %}</em></small></p>
  <div class="radio-field">
    <input type="radio" name="question-{{ guideline.id }}" id="question-{{ guideline.id }}-yes" value="yes">
    <label for="question-{{ guideline.id }}-yes"> Yes</label>
  </div>
  <div class="radio-field">
    <input type="radio" name="question-{{ guideline.id }}" id="question-{{ guideline.id }}-no" value="no">
    <label for="question-{{ guideline.id }}-no"> No</label>
  </div>
  <div class="radio-field">
    <input type="radio" name="question-{{ guideline.id }}" data-triggers="{{ guideline.id }}-partially" id="question-{{ guideline.id }}-partially-id" value="partially">
    <label for="question-{{ guideline.id }}-partially-id"> Partially</label>
  </div>
  <div class="radio-field">
    <input type="radio" name="question-{{ guideline.id }}" data-triggers="{{ guideline.id }}-not-applicable" id="question-{{ guideline.id }}-not-applicable-id" value="not applicable">
    <label for="question-{{ guideline.id }}-not-applicable-id"> Not applicable</label>
  </div>
  <div class="radio-field">
    <input type="radio" name="question-{{ guideline.id }}" data-triggers="{{ guideline.id }}-not-sure" value="not sure" id="question-{{ guideline.id }}-not-sure-id">
    <label for="question-{{ guideline.id }}-not-sure-id"> Not sure </label>
  </div>
  <div id="{{ guideline.id }}-partially" data-trigger hidden>
    <p>You selected <b>partial support</b>.</p>
    <p>Please describe what your support looks like, for example “accessible templates are available, but it is not very easy to find them. Improvements in search will be available in version 11”.</p>
    <p>We will display this description with your tool, to help people find what they need.</p>
    <label for="{{ guideline.id }}-partially-description">Description</label>
    <textarea id="{{ guideline.id }}-partially-description" name="{{ guideline.id }}-partially-description" style="width: 100%" rows="4"></textarea>
  </div>
  <div id="{{ guideline.id }}-not-applicable" data-trigger hidden>
    <p>You selected <b>not applicable</b>. We will not list this criterion for your tool.</p>
  </div>
  <div id="{{ guideline.id }}-not-sure" data-trigger hidden>
    <p>You selected <b>not sure</b>. We will not list this criterion for your tool.</p>
  </div>
</fieldset>
