<article class="tool" id="{{ tool.id }}">
  <h3>{{ tool.name }} <span>by {{ tool.vendor }}</span> <a href="#" class="tag">{{ tool.type_of_tool }}</a></h3>
  <p>{{ tool.description }}</p>
  <a class="tool__report" href="https://github.com/w3c/wai-authoring-tools/issues/new?title=Issue%20with%20{{ tool.name }}&labels=content&body=I%20have%20a%20comment%20about%20the%20Authoring%20Tools%20List.%20%0A%0ATool:%20{{ tool.name }}%0A%0AComment%3A%20%0A%0A%20%20">
  Report an issue</a>
  <details>
    <summary class="button button-secondary">Details</summary>
    <dl class="tool__features">
      <dt>License</dt>
      <dd>{{ tool.license }}</dd>
      <dt>Version</dt>
      <dd>{{ tool.version }}</dd>
      <dt>Submitted</dt>
      <dd>{{ tool.date_submitted }}</dd>
      <dt>Released</dt>
      <dd>{{ tool.date_released }}</dd>
      {% if tool.website %}
      <dt>Website</dt>
      <dd><a href="{{ tool.website }}" rel="external">{{ tool.website }}</a></dd>
      {% endif %}
      <dt>Accessibility statement</dt>
      <dd>{{ tool.accessibility_statement | default: 'Not available' }}</dd>
    </dl>
  </details>
</article>
