{% capture tool_title %}{{ tool.tool-name }} by {{ tool.tool-vendor }}{% endcapture %}
{% capture tool_section_identifier %}aside_{{ tool.submission_ref }}{% endcapture %}
{% capture tool_details_id %}details_{{tool.submission_ref}}{% endcapture %}
{% assign not_provided = "not provided" %}

{% include box.html type="start" title=tool_title id=tool.submission_ref class="tool" h="3"%}
{{ tool.tool-description }}
{% include excol.html type="start" id=tool_details_id %}
Details
{% include excol.html type="middle"%}

<dt>Accessibility statement</dt>
<dd>
{% if tool.tool-statement != "" %}
  <a href="{{ tool.tool-statement }}" rel="external">{{ tool.tool-statement }}</a>
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>License</dt>
<dd>
{% if tool.tool-license != "" %}
  {{ tool.tool-license }}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Version</dt>
<dd>
{% if tool.tool-version != "" %}
  {{ tool.tool-version }}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Release Date</dt>
<dd>
{% if tool.tool-release-date != "" %}
  {{ tool.tool-release-date }}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Web-based functionality is accessible</dt>
<dd>
{% if tool.question-web-based-accessible %}
{{ tool.question-web-based-accessible }}
{% if tool.web-based-accessible-partially-description != "" %}
<div>Description: {{ tool.web-based-accessible-partially-description }}</div>
{% endif %}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Non web-based functionality is accessible</dt>
<dd>
{% if tool.question-non-web-based-accessible %}
{{ tool.question-non-web-based-accessible }}
{% if tool.non-web-based-accessible-partially-description != "" %}
<div>Description: {{ tool.nonweb-based-accessible-partially-description }}</div>
{% endif %}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Alternative content available to editors</dt>
<dd>
{% if tool.question-alt-available %}
{{ tool.question-alt-available }}
{% if tool.alt-available-partially-description != "" %}
<div>Description: {{ tool.alt-available-partially-description }}</div>
{% endif %}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Editing-view presentation can be programmatically determined</dt>
<dd>
{% if tool.question-presentation-programmatically-determined %}
{{ tool.question-presentation-programmatically-determined }}
{% if tool.presentation-programmatically-determined-partially-description != "" %}
<div>Description: {{ tool.presentation-programmatically-determined-partially-description }}</div>
{% endif %}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Works with keyboard</dt>
<dd>
{% if tool.question-works-with-keyboard %}
{{ tool.question-works-with-keyboard }}
{% if tool.works-with-keyboard-partially-description != "" %}
<div>Description: {{ works-with-keyboard-partially-description }}</div>
{% endif %}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Enough time</dt>
<dd>
{% if tool.question-enough-time %}
{{ tool.question-enough-time }}
{% if tool.enough-time-partially-description != "" %}
<div>Description: {{ enough-time-partially-description }}</div>
{% endif %}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Flashing content optional</dt>
<dd>
{% if tool.question-flashing-optional %}
{{ tool.question-flashing-optional }}
{% if tool.flashing-optional-partially-description != "" %}
<div>Description: {{ flashing-optional-partially-description }}</div>
{% endif %}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Content can be navigated by structure</dt>
<dd>
{% if tool.question-navigate-by-structure %}
{{ tool.question-navigate-by-structure }}
{% if tool.navigate-by-structure-partially-description != "" %}
<div>Description: {{ navigate-by-structure-partially-description }}</div>
{% endif %}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Content searchable</dt>
<dd>
{% if tool.question-content-searchable %}
{{ tool.question-content-searchable }}
{% if tool.content-searchable-partially-description != "" %}
<div>Description: {{ content-searchable-partially-description }}</div>
{% endif %}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Supports display preferences</dt>
<dd>
{% if tool.question-supports-display-prefs %}
{{ tool.question-supports-display-prefs }}
{% if tool.supports-display-prefs-partially-description != "" %}
<div>Description: {{ supports-display-prefs-partially-description }}</div>
{% endif %}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Previews are accessible</dt>
<dd>
{% if tool.question-previews-accessible %}
{{ tool.question-previews-accessible }}
{% if tool.previews-accessible-partially-description != "" %}
<div>Description: {{ previews-accessible-partially-description }}</div>
{% endif %}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Helps editor prevent and correct mistakes</dt>
<dd>
{% if tool.question-prevent-mistakes %}
{{ tool.question-prevent-mistakes }}
{% if tool.prevent-mistakes-partially-description != "" %}
<div>Description: {{ prevent-mistakes-partially-description }}</div>
{% endif %}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>(Accessibility) features documented</dt>
<dd>
{% if tool.question-features-documented %}
{{ tool.question-features-documented }}
{% if tool.features-documented-partially-description != "" %}
<div>Description: {{ features-documented-partially-description }}</div>
{% endif %}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Generates accessible markup</dt>
<dd>
{% if tool.question-auto-content-accessible %}
{{ tool.question-auto-content-accessible }}
{% if tool.auto-content-accessible-partially-description != "" %}
<div>Description: {{ auto-content-accessible-partially-description }}</div>
{% endif %}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Preserves accessibility information</dt>
<dd>
{% if tool.question-accessibility-information-preserved %}
{{ tool.question-accessibility-information-preserved }}
{% if tool.accessibility-information-preserved-partially-description != "" %}
<div>Description: {{ accessibility-information-preserved-partially-description }}</div>
{% endif %}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Accessible content production is possible</dt>
<dd>
{% if tool.question-accessible-content-production-possible %}
{{ tool.question-accessible-content-production-possible }}
{% if tool.accessible-content-production-possible-partially-description != "" %}
<div>Description: {{ accessible-content-production-possible-partially-description }}</div>
{% endif %}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Editors guided</dt>
<dd>
{% if tool.question-editors-guided %}
{{ tool.question-editors-guided }}
{% if tool.editors-guided-partially-description != "" %}
<div>Description: {{ editors-guided-partially-description }}</div>
{% endif %}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Text alternatives can be managed</dt>
<dd>
{% if tool.question-alternatives-manageable %}
{{ tool.question-alternatives-manageable }}
{% if tool.alternatives-manageable-partially-description != "" %}
<div>Description: {{ alternatives-manageable-partially-description }}</div>
{% endif %}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Accessible templates available</dt>
<dd>
{% if tool.question-accessible-templates-available %}
{{ tool.question-accessible-templates-available }}
{% if tool.accessible-templates-available-partially-description != "" %}
<div>Description: {{ accessible-templates-available-partially-description }}</div>
{% endif %}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Accessible components/plug-ins available</dt>
<dd>
{% if tool.question-accessible-components-available %}
{{ tool.question-accessible-components-available }}
{% if tool.accessible-components-available-partially-description != "" %}
<div>Description: {{ accessible-components-available-partially-description }}</div>
{% endif %}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Checks accessibility automatically</dt>
<dd>
{% if tool.question-automatically-checks %}
{{ tool.question-automatically-checks }}
{% if tool.automatically-checks-partially-description != "" %}
<div>Description: {{ automatically-checks-partially-description }}</div>
{% endif %}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Provides suggestions to content editor about accessibility problems</dt>
<dd>
{% if tool.question-helps-fix-problems %}
{{ tool.question-helps-fix-problems }}
{% if tool.helps-fix-problems-partially-description != "" %}
<div>Description: {{ helps-fix-problems-partially-description }}</div>
{% endif %}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Accessibility features prominent</dt>
<dd>
{% if tool.question-features-promote-accessibility %}
{{ tool.question-features-promote-accessibility }}
{% if tool.features-promote-accessibility-partially-description != "" %}
<div>Description: {{ features-promote-accessibility-partially-description }}</div>
{% endif %}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Documentation promotes accessibility</dt>
<dd>
{% if question-documentation-promotes-accessibility %}
{{ tool.question-documentation-promotes-accessibility }}
{% if tool.documentation-promotes-accessibility-partially-description != "" %}
<div>Description: {{ documentation-promotes-accessibility-partially-description }}</div>
{% endif %}
{% else %}
{{ not_provided }}
{% endif %}
</dd>

<dt>Comments</dt>
<dd>
{% if tool.comments %}
  {{ tool.comments }}
{% endif %}
</dd>


_This tool listing was updated on {{ tool.submission_date | date: "%-d %B %Y" }}._
{% include excol.html type="end" %}
{% include box.html type="end" %}

{% comment %}
<article class="tool" id="{{ tool.id }}">
  <h3>
    {% if tool.website %}
      <a href="{{ tool.website }}" rel="external">{{ tool.name }}</a>
    {% else %}
      {{ tool.name }}
    {% endif %}
     <span>by {{ tool.vendor }}</span> <a href="#" class="tag">{{ tool.type_of_tool }}</a>
  </h3>
  <p>{{ tool.description }}</p>
  <details>
    <summary><h4>Details<span class="visuallyhidden"> for {{ tool.name }}</span></h4></summary>
    <div class="tool__features" data-do-tabs>
      <div class="tool__tabs">
        <a href="#{{ tool.id }}-supported" data-tab>Supported</a>
        <a href="#{{ tool.id }}-not-supported" data-tab>Not Supported</a>
        <a href="#{{ tool.id }}-meta" data-tab>About this tool</a>
      </div>
      <div class="tool_tabpanels">
        <div id="{{ tool.id }}-supported" tabindex="-1" data-tabpanel>
          <dl>
            {% if tool.conforms_to.a %}
            <dt class="tool__features-a11y">Content Editor Features (editing experience)
              <a href="selecting#editing-experience-for-content-editors" class="more-info">
                <span class="visuallyhidden">All features for content editors explained</span>
                <span aria-hidden="true" class="more-info__icon">
                 {% include wai-authoring-tools-list/icons/info.svg %}
                </span>
              </a>
            </dt>
            <dd class="tool__features-a11y">
              <ul>
                {% for feature in tool.conforms_to.a %}
                {% case feature %}
                {% when 'Works with keyboard' %}
                <li><strong>{{ feature }} (partly)</strong><br>
                Vendor comment: <em>“Should mostly work, except for the video editor, we plan to release that in version 3.”</em></li>
                {% when 'Enough time' %}
                <li><strong>{{ feature }} (partly)</strong><br>
                Vendor comment: <em>“Our CMS works with the Slovenian e-government login which has a time limit of 15 minutes that we can legally not circumvent.”</em></li>
                {% when 'Text alternatives can be managed' %}
                <li><strong>{{ feature }} (partly)</strong><br>
                Vendor comment: <em>“Alternatives can be managed for images, but not for videos.”</em></li>
                {% when '(Accessibility) features documented' %}
                <li><strong>{{ feature }} (partly)</strong><br>
                Vendor comment: <em>“We are working to document all accessibility features and currently have done about 65% of them. Full support planned for 2023.”</em></li>
                {% else %}
                <li><strong>{{ feature }}</strong></li>
                {% endcase %}
                {% endfor %}
              </ul>
            </dd>
            {% endif %}
            {% if tool.conforms_to.b %}
            <dt class="tool__features-a11y">End User Features (output)
              <a href="selecting#output" class="more-info">
                <span class="visuallyhidden">All features for end users explained</span>
                <span aria-hidden="true" class="more-info__icon">
                 {% include wai-authoring-tools-list/icons/info.svg %}
                </span>
              </a>
            </dt>
            <dd class="tool__features-a11y">
              <ul>
                {% for feature in tool.conforms_to.b %}
                <li><strong>{{ feature }}</strong></li>
                {% endfor %}
              </ul>
            </dd>
            {% endif %}
          </dl>
        </div>
        <div id="{{ tool.id }}-not-supported" tabindex="-1" data-tabpanel hidden>
          <dl>
            <dt class="tool__features-a11y">End User (output)
              <a href="selecting#output" class="more-info">
                <span class="visuallyhidden">All features for end users explained</span>
                <span aria-hidden="true" class="more-info__icon">
                 {% include wai-authoring-tools-list/icons/info.svg %}
                </span>
              </a>
            </dt>
            <dd class="tool__features-a11y">
              <ul>
                <li>Helps user prevent mistakes</li>
                <li>Previews are accessible</li>
                <li>Content can be navigated by structure</li>
              </ul>
            </dd>
          </dl>
        </div>
        <div id="{{ tool.id }}-meta" tabindex="-1" data-tabpanel hidden>
          <dl>
          <dt>License</dt>
          <dd>{{ tool.license }}</dd>
          <dt>Type of tool</dt>
          <dd>{{ tool.type_of_tool }}</dd>
          <dt>Cost model</dt>
          <dd>{{ tool.cost }}</dd>
          <dt>Version</dt>
          <dd>{{ tool.version }} (released: {{ tool.date_released }})</dd>
          <dt>Accessibility statement</dt>
          <dd>
            {% if tool.accessibility_statement %}
            <a href="{{ tool.accessibility_statement }}">{{ tool.name }} statement</a>
            {% else %}
              Not available
            {% endif %}
          </dd>
          </dl>
        </div>
    </div>
  </div>
  </details>
</article>
{% endcomment %}
